{% extends 'base.html.twig' %}

{% block title %}Agregar Producto{% endblock %}

{% block body %}
<div class="row mt-5 mb-3">
    <div class="col">
        <h1>Agregar Producto</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=" {{ path('crud_show_index') }}">Volver</a></li>
                <li class="breadcrumb-item active" aria-current="page">Agregar Producto</li>
            </ol>
        </nav>
    </div>
</div>
{{ form_start(form, {attr: { 'data-turbo': false } }) }}
<div class="row">
    <div class="col-12">
        <div class="form-group">{{ form_row(form.clave_producto) }}</div>
        <div class="form-group">{{ form_row(form.nombre) }}</div>
    </div>
    <div class="col-12">
        <div class="form-group">{{ form_row(form.precio) }}</div>
    </div>
    <div class="col d-flex">
        <button type="submit" class="btn btn-primary ms-auto">
        Guardar
        <i class="bi bi-floppy" style="margin-left: 8px;"></i>
        </button>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}