<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	{# Title #}
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	{# Title #}
	{# Styles #}
	<link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

	
	{# Styles #}
</head>

<body>
	<div class="container">
		{# Contenido #}
		{% block body %}

		{% endblock %}
		{# Contenido #}
	</div>

	{# Scripts #}
	<script src="{{ absolute_url(asset('js/bootstrap.bundle.min.js')) }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
	 <script src="{{ absolute_url(asset('js/script.js')) }}"></script> {# se importa script para mensajes #}
	<script src="{{ absolute_url(asset('js/dataTable.js')) }}"></script>{# se importa script para tabla #}
	<script src="{{ absolute_url(asset('js/export.js')) }}"></script>{# se importa script para exportar #}
	{# Scripts #}
</body>

</html>